<!doctype html>
<html lang="en">
<head>
	<title> Course_directory </title>
   	<link rel="stylesheet" href="styleforhome.css">
</head>
<body>
    <a href="https://www.iitg.ac.in/" class="logo"><img src="http://www.iitg.ac.in/html/images/logo.png"></a>
    <form method="POST" action="/form">
    	<label for="course_id"> Course: </label>
    	<input type="text" name="cousre_id" placeholder="Course Id" id="course_id">
    	<br>
    	<label for="course_name"> Name of Course: </label>
    	<input type="text" name="cousre_name" placeholder="Course Name" id="course_name">
    	<br>
    	<label for="ltpc"> L T P C: </label>
    	<input type="text" name="ltpc" placeholder="L T P C" id="ltpc">
    	<br>
    	<label for="course_desc"> Description: </label>
    	<input type="message" name="cousre_desc" placeholder="Description" id="course_desc">
    	<br>
    	<button type="submit"> Add </button>
    </form>
</body>