<!doctype html>
<html lang="en">
<head>
	<title> Course_directory </title>
   	<link rel="stylesheet" href="public/stylesforhome.css">
</head>
<body>
	<div class="header">
		<a href="https://www.iitg.ac.in/" class="logo"><img src="http://www.iitg.ac.in/html/images/logo.png"></a>
		<div class="header-right">
			<input type="text" name="search" onkeyup="searchfunction()" placeholder="Search..">
			<img src="https://tse4.mm.bing.net/th?id=OIP.m0WFnkOcl4uQrPwU636sggHaHa&pid=Api&P=0&w=300&h=300">
    	</div>
    </div>
    <div class="nav">
    	<a href="/" class="active"> Home </a>
    	<a href="/about"> About </a>
    	<a href="/departments"> Departments </a>
    	<a href="/signup"> Signup </a>
    	<a href="/login"> Login </a>
    </div>
    <div class="wrap">
    </div>
</body>